label {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
}
input {
  padding: 15px 15px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.remove {
  float: left;
  color: red;
  padding: 10px;
  line-height: 1rem;
  font-weight: bold;
  background: #ddd;
  border-radius: 10px;
  text-transform: uppercase;
  margin-right: 10px;
}

.material-item {
  border: 1px solid red;
}